{% extends "base.html" %}
{% load i18n %}



{% block content %}
<body id="task1A">
<h1>Task 1a</h1>
<p><em>Guidelines for participating in this track can be found <a href="/general_information/Task1a/" style="color:red"> here</a> </em></p>
<h3>Description</h3>
<p>Large‐scale semantic indexing will be evaluated on the whole of PubMed. In 
particular, participants will be asked to classify incoming documents before 
the human curators do: 
<ul>
	<li>BioASQ will distribute new unclassified PubMed documents.</li>
	<li>Participants will have a limited response time to attach MeSH terms.</li>
</ul>
</p>


<h3>Training set data</h3>
<p>You can download the training set <em>in raw text</em> from <a href="/raw_training_set/" style="text-decoration:none; color:blue">here</a>. Zip file size: 5.1GB/Uncompressed file size: 18GB</p>

<p>You can download the training set <em>in vectorized description</em> from <a href="/vectorized_training_set/" style="text-decoration:none; color:blue">here</a>. Zip file size: 4.8GB/Uncompressed file size: 6.2GB</p>





<p> The list of the journals containing the articles in the training set can be downloaded <a href="/journalsTraining/" style="text-decoration:none; color:blue">here</a>.</p>
<h3>MeSH Headings</h3>
<p>You can download the MeSH hierarchies along with the indexing that will be used from <a href="http://www.gopubmed.org/web/bioasq/mesh/ontologyfile" style="text-decoration:none; color:blue">here</a> </p>
<p>You can also download the mapping between the indexing and the human annotations <a href="/mapping/" style="text-decoration:none; color:blue" > here.</a> The delimeter used between the two columns is the "=", i.e. Absorption=D000042</p>
<p>The mapping in a parent-child relation format can be downloaded from  <a href="/pc-mapping/" style="text-decoration:none; color:blue" > here.</a></p>

<h3>Vectorization Tools</h3>
<p>You can download tools for vectorizing the data from <a href="/tools/" style="text-decoration:none; color:blue">here</a>. To use the tools, the lucene-core and lucene-analyzers jars must be included in the classpath. The tools produce a vectorized description as a Lucene Index.</p>

<h3>Cluster</h3>
<p>You can download an eclipse project sceleton where you should put you code from <a href="/cluster/" style="text-decoration:none; color:blue">here</a>. The e-mail where the zip  has to be sent is cluster_admin[at]bioasq[dot]org</p>

<h3>Baselines</h3>
You can find the results of the system MTI First Line Index, which is a baseline for the Task 1a of the BioASQ challenge in <a href="http://ii.nlm.nih.gov/BioASQ/" style="color:blue; text-decoration:none"> http://ii.nlm.nih.gov/BioASQ/</a> 
<h3>Available test sets</h3>
{% if tests%}
	<p> Currently, {{tests|length}} <em>  test{{tests|pluralize}} sets</em> are available. The first test (Test 1) is the dry-run while the others are the official test sets of the BioASQ Task 1a challenge.
		{% for test in tests %}
		<ul>	

		{% if test.test_id == 1 %} <li>Dry run test set, available <a href="/data/raw/{{ test.test_id }}" style="color:blue">in raw format</a> and <a href="/data/vectorized/{{ test.test_id }}/" style="color:blue">in vectorized format</a>. Active for uploads from {{ test.started}} until {{test.finished}}</li>
		{% elif test.test_id <= 7 %}	<li>Test set of Test batch 1, week {{ test.test_id|add:"-1" }}, available <a href="/data/raw/{{ test.test_id }}" style="color:blue">in raw format</a> and <a href="/data/vectorized/{{ test.test_id }}/" style="color:blue">in vectorized format</a>. Active for uploads from {{ test.started}} until {{test.finished}}</li>
			
		{% elif test.test_id <= 13 %}  <li>  Test set of Test batch 2, week {{ test.test_id|add:"-7" }}, available <a href="/data/raw/{{ test.test_id }}/" style="color:blue">in raw format</a> and <a href="/data/vectorized/{{ test.test_id }}/" style="color:blue">in vectorized format</a>. Active for uploads from {{ test.started}} until {{test.finished}}</li>

		{% elif test.test_id <= 19 %}  <li>Test set of Test batch 3, week {{ test.test_id|add:"-13" }}, available <a href="/data/raw/{{ test.test_id }}/" style="color:blue">in raw format</a> and <a href="/data/vectorized/{{ test.test_id }}/" style="color:blue">in vectorized format</a>. Active for uploads from {{ test.started}} until {{test.finished}}</li>
		{% else %}  <li>Test set of the additional Test batch 4, week {{ test.test_id|add:"-19" }}, available <a href="/data/raw/{{ test.test_id }}/" style="color:blue">in raw format</a> and <a href="/data/vectorized/{{ test.test_id }}/" style="color:blue">in vectorized format</a>. Active for uploads from {{ test.started}} until {{test.finished}}</li>
		
		

		{% endif %}
		</ul>
		{% endfor %}
	</p>
		
{% else %}
<p>* No active tests *</p>
{% endif %}


{% if errors %}
		{% for error in errors %}
		<p style="color: red;">{{ error }} </p> 
		{% endfor %}
{% endif %}


<h3>Submit your results</h3>

{% if current_test  %}
<p>You can select a file from your computer, that contains the test results and upload it by clicking the Upload button below. The results will be considered for the Test {{ current_test.test_id }} and the system you will select. Submitting results will be open until {{ current_test.finished}}. <br/>
<em>Warning:</em> Selecting a system for which you have already uploaded results will replace the previous results. <br /> 
<center><p style="font-size:17px;  border:1px dashed; display: inline; padding:4px;"><em>Attention:</em> The process of uploading results may take several minutes.</p></center>




{% if error %}
        
        {% for er in error %}
        <em>{{ er }}</em> <br />   {% endfor %}
        
        {% endif %}
        
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p>{{form.system_name.label_tag}} {{form.system_name}}</p>
            <p><input id="upload" type="submit" value="Upload" /></p>
        </form>

{% else %}
<p>* No active tests for uploads *</p>
{% endif%}
</body>



<h3>Download the results you have submitted</h3>
In the following table you can find information and links for the results you have submitted. 

{% if attempts %}
	<center>
	<table class="uploads">
		<!-- Table header -->
			<thead>
				<tr>
					<th>Test set</th>
					<th>System Name</th>
					<th>Download link</th> 
					<th>Date/Time</th>
				</tr> 
			</thead>

			<tbody>
				{% for at in attempts %}
					<tr>
							<td>{{at.test_id}}</td>
							<td>{{at.system}}</td>
							<td><a href="results/{{at.test_id}}/{{at.system}}/" style="color:blue">{{at.test_id}}-{{at.system}}.json</a></td>
							<td>{{at.timestamp}}</td>
					</tr>
				{% endfor %}
			</tbody>
	</table>	
	</center>		
{% else %}
<p>* You don't have submit any results for the BioASQ Task 1A test sets yet *</p>
{% endif %}

{% endblock %}


{% block footer %}



{% endblock%}
