{% extends "base.html" %}

{% load i18n %}

{% block content %}
<body id="task1ba">

<h1>Task 2b</h1>

<p><em>The task will begin on March 5th, 2014! </em></p>
<p><em>
Guidelines for participating in this track can be found <a href="/general_information/Task2b/" style="color:blue"> here</a>
</em></p>
<h1>Training set</h1>
The training set of the of Task 2b is the complete dataset of the 1st year. It includes the  310 annotated questions and the test sets of the first year. It is available <em><a href="/Tasks/2b/trainingDataset/" style="color:blue"> here</a></em>.
<h3>Available test sets</h3>

* Currently there are no available test sets for Task 2b *


</body>
{% endblock %}





{% block footer %}





{% endblock%}
