<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>Error 500</title>
</head>
<body>
    <h1>Page unavailable-Error 500</h1>

    <p>Sorry, but the requested page is unavailable.</p>
    <p>The main reasons why you may see this message are:
    <ul>
		<li>You have requested an operation that produced an error, so that the page cannnot be displayed.</li>
		<li>You requested a query in the database that returned no results, while it was supposed to return.</li>
		<li>If you were trying <b>to upload data</b> for Task 1A using the web interface or the API, check the format of the JSON string. Remember that the JSON fields are NOT case sensitive. Please check also the guidelines for the correct URI for each test.</li>
    </ul></p>

    <p>In every case, our engineers have been notified, so check back later.</p>
</body>
</html>

