{% extends "base.html" %}
{% load i18n %}

{% block content %}
<body id="genInfo1A">
<h2>Register</h2>
<p>In order to gain full access in the data and the web services that will be provided during the challenge, users have to register to the evaluation platform. During
registration they will be asked to fill a form with the following information</p>
<ul>
	<li>Username and Password</li>
	<li>E-mail address. An e-mail with an activation link will be sent for confirmation. An E-mail address can only be used once.</li>
	<li>Tasks the user is planning to participate</li>
	<li>A "Receive information" option. By enabling this option, updates about the challenge (e.g test set announcements) will be sent to the user e-mail</li>
</ul>
</body>
{% endblock %}
