{% extends "base.html" %}
{% load i18n %}

{% block content %}
<body id="genInfo1A">
<br />
<a onclick ="javascript:ShowHide('overview')" href="javascript:;" style="text-decoration:none">
<h3>[+] BioASQ Participants Area functionality overview</h3></a>
<div class="mid1" id="overview" style="DISPLAY: none">
<p>The BioASQ Participants Area will enable users during the challenge to:
<ul>
<li>Access guidelines for each challenge task</li>
<li>Register to the challenge</li>
<li>Download data for each Task</li>
<li>Upload your answers</li>
<li>Review your evaluation results</li>
<li>Participate to the forum for discussion about the challenge</li>
</ul>
<p>You can register <a href="/accounts/login/" style="text-decoration:none; color: blue">here</a>. <br />
Further information about the BioASQ project can be found at the <a href="http://bioasq.org" style="text-decoration:none; color: blue"> BioASQ's official website</a>.
</p>
</div>


<a onclick ="javascript:ShowHide('SampleData')" href="javascript:;" style="text-decoration:none">
<h3>[+] Download Sample Data (no registration required)</h3></a>
<div id="SampleData" style="DISPLAY: none">
Click on the buttons below for sample data of the BioASQ challenge. The format of the data is Javascript Object Notation (JSON).<br /><br /> 
<a href="/download/sampleData/task1a/" class="Task1aButton">Task 1A Sample Data</a>
<a href="/download/sampleData/task1b/" class="Task1aButton">Task 1B Sample Data</a>
<br /><br />More information about the data and the tools available for each task can be found in the online guidelines.  
<br />
</div>




<a onclick ="javascript:ShowHide('schedule1a')" href="javascript:;" style="text-decoration:none">
<h3>[+] Task 1A Schedule</h3></a>

<div class="mid1" id="schedule1a" style="DISPLAY: none">
<p>Below you can see the BioASQ Task 1A schedule:</p>
<img class="displayed"  src="{{ STATIC_URL }}task1a_bioasq.png"  alt="Task1a-Schedule"/>
</div>

<a onclick ="javascript:ShowHide('schedule1b')" href="javascript:;" style="text-decoration:none">
<h3>[+] Task 1B Schedule</h3></a>
<div class="mid1" id="schedule1b" style="DISPLAY: none">
<p>Below you can see the BioASQ Task 1B schedule:</p>
<img class="displayed"  src="{{ STATIC_URL }}task1b_bioasq.png"  alt="Task1b-Schedule"/>
</div>



</body>
{% endblock %}
